* Main view in which all other views are included
<script setup>
import sidebar from "./components/SideBar.vue";
import topbar from "./components/TopBar.vue";
import footbar from "./components/FootBar.vue";
import router from "./router/router";
</script>

<template>
  <div>
    <topbar />
  </div>
  <div style="margin-left: 15rem; margin-right: 15rem" class="mb-4">
    <Suspense>
      <template #fallback> Loading... </template>

      <router-view />
    </Suspense>
  </div>
  <div>
    <footbar />
  </div>
</template>


<style>
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

#app {
  font-family: Titillium Web, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  margin-top: 0px;
}
</style>
