* Creates a piechart which shows the sum of compliant and not compliant services
<script setup lang="ts">
import BarChart from "../components/barChart.ts";
import * as data from "../data/data";
import * as newdata from "../data/newdata";

var chartdata = null;
var compPerDay = null;

function getDates() {
  var labels = [];
  var i = 0;
  for (; i < 31; i++) {
    var target = new Date();
    target.setDate(target.getDate() - i);
    const date =
      target.getDate() +
      "." +
      (target.getMonth() + 1) +
      "." +
      target.getFullYear();
    labels.push(date);
  }
  return labels;
}

compPerDay = await newdata.getCompPerDay();
chartdata = {
  labels: getDates(),
  datasets: [
    {
      label: "Compliant services",
      backgroundColor: "#000071",
      data: compPerDay,
    },
  ],
};
</script>

<template>
  <BarChart v-if="chartdata" :chartData="chartdata" />
</template>