* Landing page for sucessful logins
<script setup lang="ts">
import { settings } from "../auth/settings";
import { log } from "../auth/auth";
import * as auth from "../auth/auth";
import { useRouter, useRoute } from 'vue-router'
import { OidcClient } from "oidc-client-ts";
import { inject } from "vue";

const router = useRouter()
const route = useRoute()
const url = route.fullPath;

var message = "Login sucessful, forwarding...";

const client: OidcClient | undefined = inject("client");

client?.processSigninResponse(url)
  .then(function (response) {
    log("signin response success", response);
    auth.setToken(response.access_token);
    auth.setIdToken(response.id_token);
    location.reload();
  })
  .catch(function (err) {
    console.error(err);
    log(err);
  });

// Go back to start page
router.push("/");

</script>

<template>
  <div id="login">
    <h1>{{ message }}</h1>
  </div>
</template>