* page for sucessful logouts
<script setup lang="ts">
import { log } from "../auth/auth";
import * as auth from "../auth/auth";
import { useRouter, useRoute } from "vue-router";
import { OidcClient } from "oidc-client-ts";
import { inject } from "vue";

const router = useRouter();
const route = useRoute();
const url = route.fullPath;

var message = "Logged out.";

const client: OidcClient | undefined = inject("client");
client?.processSignoutResponse(url)
  .then(function (response) {
    log("signout response", response);
    auth.setToken(null);
  })
  .catch(function (err) {
    console.error(err);
    log(err);
  });
// Go back to start page
auth.setToken(null);
router.push("/");
</script>

<template>
  <div id="logout">
    <h1>{{ message }}</h1>
  </div>
</template>